.example-form {
  /*min-width: 150px;*/
  /*max-width: 500px;*/
  width: 100%;
}

.example-full-width {
  width: 100%;
  padding: 2%;
}

.upload-file-div {
	padding: 2%;
	background-color: #eee; 
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.btn-compose {
	padding: 1% 3% 1% 3%; 
	margin-left: 2%;
}
